.main-head {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: .69px;
}

.company-page {
    p {
        font-size: 14px;
        margin-top: 6px;
    }

    h4 {
        font-weight: 600;
        font-size: 20px;
        margin: 20px 0 7px;
        color: #3c4852;
        letter-spacing: 0.69px;
    }

    ul {
        padding-left: 16px;
        margin-bottom: 1rem;
        font-size: 14px;
    }
}
